<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css" />

</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Resume</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/home">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projects">Projects</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/contact" >
            Contact
          </a>
        </li>
    </div>
  </nav>


<body>
    <img class="image" src="/images/mypic.jpeg" alt="">
    <h1 class="home-heading">
        <i> Muhammad Uzair </i>
    </h1>
    <script src="/js/bootstrap.min.js"></script>

    <h2 class="sub-heading">
        <i>
            <u> Web Developer </u>
        </i>
    </h2>

    <div class="data">
        <b>Phone:</b> 03034827076
        <b class="data1">&emsp; &emsp; E-mail</b> uzairsaeed34k@gmail.com
    </div>

    <div class="about">
        I am doing BSCS from UMT now i am in fifth semester with having speciality in database and web development in
        nodejs.
    </div>

    <h2 class="edu">
        <u> <i>Education</i> </u>
    </h2>
    <div>
    <ul class="text">
        <li>Intermediate form Pak-Turk college </li>
        <li>doing BSCS from UMT</li>
    </ul>
    </div>
    <h2 class="skill">
        <u> Skils </u>
    </h2>
    <ul class="mytext">
        <li>
            Web development
        </li>
        <li>
            DataBase Management System
        </li>
        <li>
            Object Oriented Program
        </li>
    </ul>
    <h2 class="lan">
        <u> Languages </u>
    </h2>
    <ul class="lang">
        <li>
            C++
        </li>
        <li>
            Java
        </li>
        <li>
            Javascript
        </li>
    </ul>
    <h1 class = "ide"> 
        <u>IDE</u>
    </h1>
    <ul>
        <li>Vistual Studio Code</li>
        <li>Vistual Studio</li>
    </ul>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <section class = "footer">
        <div class="social">
            <a href="https://www.instagram.com/uzair_34k/?hl=en"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/uzair.saeed.9066/"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/Muhamma04361070"><i class="fab fa-twitter"></i></a>
        </div>
        <p class="copyright"> copyright @ 2022</p>

    </section>
</body>
</html>